.main-nav ul {
    padding: 0;
    margin: 0;
}


.main-nav > ul {
    display: flex;
}

.main-nav li {
    list-style: none outside;
    display: block;
    position: relative;
}
.main-nav li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
}

.main-nav ul ul {
    width: 15rem;
    display: none;
}
/* .main-nav  ul  li ul {
    display: block;
    position: absolute;
    left:inherit;
    top: 100%; right:0; 
} */


