.main-nav ul {
    padding: 0;
    margin: 0;
}

.main-nav li {
    list-style: none outside;
    display: block;
    position: relative;
}
.main-nav li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
}

.main-nav ul ul {
    opacity: 0;
    pointer-events: none;
    width: 15rem;
    position: absolute;
    top: 100%; left:0; 
    transform: translateY(1rem);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.main-nav > ul {
    display: flex;
}

.main-nav li:hover > a,
.main-nav a:hover {
    text-decoration: underline;
}

.main-nav li:hover > ul {
    opacity: 1;
    transform: translateY(0);
    pointer-events: inherit;

}


