@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Righteous');

@import url('reset.css');
@import url('navigation.css');

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    line-height: 1.4;
}

@media screen and (min-width: 500px){
	html { font-size:14px; }
}

@media screen and (min-width: 800px){
    html { font-size:16px; }
    
}

@media screen and (min-width: 1300px){
	html { font-size:18px; }
}

@media screen and (min-width: 1800px){
	html { font-size:20x; }
}


body {
    margin: 0;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@media screen and (min-width: 800px) {
    body {
        padding: 2rem 3rem;
    }
}

main {
    height: 80vh;
}

header,
footer {
    height: 10vh;
    display: flex;
    align-items: center;
}

.site-title {
    display: block;
    font-size: 2.5rem;
    font-family: 'Righteous', Georgia, serif;
    margin: 0;
    padding: 0;
}

.site-title a {
    text-decoration: none;
    color: tomato;
}

footer {
    width: 100%;
    align-self: flex-end;
    justify-content: center;
    background: #ccc;
}

footer .social-media {
    display: flex;
    padding: 0;
}


footer .social-media li,
footer .social-media li a,
footer .social-media li a .actions {
    display: block;
    width: 2rem;
    height: 2rem;
    background: white;
    border-radius: 50%;
}


footer .social-media li a .actions {
    width: 2.5rem;
    height: 2.5rem;
    background: white;
    opacity: 0.5;
    box-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.7);
}

footer .social-media li {
    list-style: none;
    margin: 1rem;
    position: relative;
    box-shadow: 0 -0.5rem 0.5rem 0 rgb(0, 0, 0, 0.3) inset;
}

footer .social-media li a {
    color: #000;
    box-shadow: 0 0.5rem 0.5rem 0 rgb(0, 0, 0, 0.3) inset;
}

footer .social-media li i {
    position: absolute;
    top: 25%;
    left: 28%;
}

footer .social-media li a .actions {
    position: absolute;
    top: -11%;
    left: -10%;
}

footer .social-media li a:focus .actions {
    box-shadow: 0 0 0.6rem 0.1rem rgba(0, 0, 0, 0.3);

}

footer .social-media li a:focus .fa-facebook-square{
    color: rgb(59, 89, 152);
}
footer .social-media li a:focus .fa-twitter-square{
    color: rgb(0, 172, 237);
}


footer .social-media li a:focus .fa-google-plus {
    color: rgb(221, 75, 57);
}

footer .social-media li a:focus .fa-linkedin {
    color: rgb(8, 126, 183);
}
footer .social-media li a:focus .fa-instagram{
    color: rgb(90, 150, 188);
}